.idea
.project
nohup.out
*.pyc
*.log
*.gz
*.tar
systems/cass/**/cassandra/
systems/cass/git/
**/_pycache_/
/systems/flink/**/flink
/systems/flink/git
/systems/flink/**/flink
/systems/flink/**/flink
/systems/flink/**/flink
/systems/flink/**/flink
/systems/flink/**/flink
